# core
torch==2.1.0
transformers==4.35.2
tokenizers==0.14.1
huggingface_hub==0.17.3
accelerate==0.21.0
safetensors==0.3.1
bitsandbytes==0.43.2

# utils
pandas
tqdm
jupyterlab-widgets

# rag / embedding